sparta_CV/week5/models/colorization_deploy_v2.prototxt
sparta_CV/week5/models/colorization_release_v2.caffemodel
sparta_CV/week5/models/colorization_release_v2_norebal.caffemodel
sparta_CV/week5/models/EDSR_x3.pb
sparta_CV/week5/imgs/02.jpg
sparta_CV/week5/imgs/06.jpg
sparta_CV/week5/models/pts_in_hull.npy
